body{
    background-color: rgb(167, 109, 254);
}

.para1{
    width : 500px;
    height : 300px;
    border : 4px solid black;
    margin : auto;
    
    /* overflow is use to stop extra portion that is going out of div.
    majorly we have some overflow properties like-
    [ overflow : hidden; ] - this will hide extra portion.
    [ overflow : scroll; ] - through this we can see extra data by scrolling. 
    [ overflow-x : hidden | scroll; ] - isse hum extra data ko hide ya scroll kr skte hai X-axis pr
    [ overflow-y : hidden | scroll; ] - isse hum extra data ko hide ya scroll kr skte hai Y-axis pr
      */
    overflow-y : scroll;
}
.container{
    width : 400px;
    height : 200px;
    margin-top : 20px;
    border : 2px solid black;
    font-size : 34px;
    overflow : hidden;
    /* resize property hume ek feature provide krti hai jisse hum extra content ke container ka size kheech ke bada kr skte hai taki content dikh jaye.
    resize ko hum set kr skte hai ki ye vertical drag ho ya horizontal ya fir both side.
    isko none bhi kr skte hai. syntax:-
    resize : both;
    resize : vertical;
    resize : horizontal;
    resize : none;
    */
    resize : both;
    /* text-indent se content ke starting ke first line me space aa jati hai jisse content khubsurat lge. */
    text-indent : 50px;
}