#main1{
    width: 500px;
    height: 200px;
    background-color: blueviolet;
    font-size: 40px;
    color : white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
/* Border ka syntax :
border : size (solid | dash | dotted ) color|color code
            [ point to be not : 
                1. border lgane se phele width and height set kro 
                2. border pixels ka space occupied krta hai]
    eg. 
    */
    border : 6px solid green;   
    margin : auto; /* margin : auto ; isse element center me aa jata hai but iske liye width define hona must hai */
}
/*border pixels size occupied ka example*/
#row1{
    border : 5px dotted red;    
    /* width : 500px; */
    /* height : 200px; */
    /*^ yaha border pixel size le rha hai and border out of box ja rha hai
    isko thik krne ke liye border ki size ka 2time (-) minus krke width and height set krni hogi*/
    width : 480px; /*<-- border overlap check krne ke liye ise comment kro*/
    height : 100px; /* <--border overlap check krne ke liye ise comment kro*/
    /* margin : 5px; /* margin set krte wkt calculate krke height|width set krna important hai taki overlap na ho. eg. (width,height : 490px,190px [Before]  margin : 5px;  | (5px*2 - 490px,190px)| width,height : 480px,180px;[After]) */ 
    /* margin-top : 15px; /* hum margin ko needs ke according kisi bhi side se lga skte hai */
    margin : 15px 5px 15px 5px; /* This is Short-Hand Margin isme clock wise margin set hota hai. for eg. [top right bottom left] */
    /* padding bhi proper set krne ke liye hume calculation krke height/width set krni hoti hai */
    /* padding : 10px; */ /* padding set krte wkt calculate krke height|width set krna important hai taki overlap na ho */
    /* padding-top : 30px; /* hum padding ko needs ke according kisi bhi side se lga skte hai */
    padding : 30px 0px 30px 0px; /* This is Short-Hand Padding isme clock wise padding set hota hai. for eg. [top right bottom left] */
}
